{:kotoba.app/id "cloud.itonami.isic-2740", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiep556krpd5mxqv74krcwarsw53mfxw5wd3xa7jn3k57pwc42he4m", :kotoba.app/embed-url "ipfs://bafkreiep556krpd5mxqv74krcwarsw53mfxw5wd3xa7jn3k57pwc42he4m", :published {:archive "https://kotobase.net/ipfs/bafkreiep556krpd5mxqv74krcwarsw53mfxw5wd3xa7jn3k57pwc42he4m", :size 72887, :put-status 201, :get-status 200, :at "2026-08-15T13:36:37.242Z"}}
